
.intro-hidayt { padding: 3% 0;
    background: #009688;
    text-align: center;
    margin-bottom: 3%;}
.intro-hidayt h1{    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 1px 6px #2F2E2D;}

.intro-hidayt h3{padding: 1%;    color: #000;    font-size: 19px;
    font-weight: 100;
    line-height: 24px;}

kbd{    color: #fff;
    background: black;
    font-weight: 100;
    padding: 3px 6px;
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;    margin: 5px 0;}
.hr-popup-wrapper{background: rgba(0,0,0,0.9); position: fixed;width: 100%; height: 100%; display: none;    z-index: 9999;    top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
.hr-popup-wrapper .popup-container{ max-width: 480px; background: #fff;position: absolute; top: 30%; right: 0;  left: 0; margin:auto; padding: 1%;}
.hr-popup-wrapper .popup-container .close-btn{    position: absolute;top: -10px;
    right: -10px;
    background: #151313;
    border: 1px #fff solid;
    color: #fff;
    padding: 1px 7px;
    cursor: pointer;
    font-size: 14px;}
.hr-datas{   padding: 1%;   }
.hr-datas h2{background: #cccccc;
    background: linear-gradient(#E0E0E0,#A2A2A2);
    padding: 5px;
    font-weight: 500;
    margin-bottom: 8px;
    box-shadow: 0px 6px 9px #E8E8E8;
    border-bottom: 2px #fff solid;
    font-size: 19px;}
.hr-datas .button{display: none}
.biggerValue{overflow-x: scroll; height: 240px; font-size: 14px}

.top-to-bot{-webkit-animation:top-to-bottom 1s;-moz-animation:top-to-bottom 1s;}
  @-webkit-keyframes top-to-bottom{
  	0%{top: -30%;}
  	100%{top:30%;}
  }
   @-moz-keyframes top-to-bottom{
  	0%{top: -30%;}
  	100%{top:30%;}
  }

.bottom-to-top{-webkit-animation:bottom-to-top 1s;-moz-animation:bottom-to-top 1s;}

@-webkit-keyframes bottom-to-top{
	0%{top:30%;}
  	100%{top:-30%;}
}
@-moz-keyframes bottom-to-top{
	0%{top:30%;}
  	100%{top:-30%;}
}
